<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contrôleur Discord</title>
</head>
<body>
<h1>Envoyer à Discord</h1>
<form th:action="@{/api/emotion/send}" method="post">
    <label>Joie: <input type="range" name="joie" min="0" max="100" value="0"/></label><br/>
    <label>Stress: <input type="range" name="stress" min="0" max="100" value="0"/></label><br/>
    <label>Fatigue: <input type="range" name="fatigue" min="0" max="100" value="0"/></label><br/>
    <label>Manque d'amour: <input type="range" name="amour" min="0" max="100" value="0"/></label><br/>
    <label>Triste: <input type="range" name="triste" min="0" max="100" value="0"/></label><br/>
    <label>Tracas : <input type="range" name="tracas" min="0" max="100" value="0"/></label><br/>
    <label>
        <textarea name="message"></textarea>
    </label>
    <button type="submit">Envoyer</button>
</form>


<form th:action="@{/api/ticket/send/}" method="post" th:objet="${tickets}">
    <select name="urgence">
        <option value="">Entrer une urgence</option>
        <otpion value="faible">Faible</otpion>
        <option value="moyen">Moyen</option>
        <option value="urgent">Urgent</option>
        <option value="tres_urgent">Tres urgent</option>
    </select>
    <label>
        <textarea name="message">Cause du soucis</textarea>
    </label>
    <button type="submit">Envoyer</button>
</form>
<div th:each="ticket : ${table}">
    <a>
        <p><span>Id :</span><span th:text="${ticket.id}"/></p>
    </a>
    <a>
        <p><span>Resume :</span><span th:text="${ticket.resume}"/></p>
    </a>
    <a>
        <p><span>Etat :</span><span th:text="${ticket.state}"/></p>
    </a>
    <a>
        <p><span>Urgence :</span><span th:text="${ticket.urgence}"/></p>
    </a>
</div>
</body>
</html>