<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contrôleur Discord</title>
</head>
<body>
<h1>Envoyer à Discord</h1>
<form th:action="@{/send}" method="post">
    <label>Joie: <input type="range" name="joie" min="0" max="100" value="0"/></label><br/>
    <label>Stress: <input type="range" name="stress" min="0" max="100" value="0"/></label><br/>
    <label>Fatigue: <input type="range" name="fatigue" min="0" max="100" value="0"/></label><br/>
    <label>Manque d'amour: <input type="range" name="amour" min="0" max="100" value="0"/></label><br/>
    <label>Triste: <input type="range" name="triste" min="0" max="100" value="0"/></label><br/>
    <label>Tracas : <input type="range" name="tracas" min="0" max="100" value="0"/></label><br/>
    <label>
        <textarea name="message"></textarea>
    </label>
    <button type="submit">Envoyer</button>
</form>
</body>
</html>